@using System.Threading.Tasks
@using Microsoft.AspNet.Mvc.ViewFeatures
@using InsuranceBroker.Models
@model InsuranceBroker.Models.SectionGroup

<div class="sectionGroupForm">    
    @using (Html.BeginForm(null, null, FormMethod.Post, null))
    {
        for (var index = 0; index < Model.Sections.Count; index++)
        {
            var section = Model.Sections[index];
            await Html.RenderPartialAsync("~/views/section/_Section.cshtml", section, new ViewDataDictionary(ViewData)
            {
                //TODO FIX THIS 
                /*TemplateInfo = new TemplateInfo
                {
                    HtmlFieldPrefix = "Section[" + index + "]"
                }*/
            });
        }
        <input type="submit" class="btn btn-primary sectionGroupSubmit" value="Submit Section">
    }
</div>